@charset "UTF-8";

:root {
    --branco-fundo: #ece8e8cc;
    --fonte-principal: 'Poppins'; 
    --sombra: #0000002a;
    --tamanho-font: 15px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 100vw;
    font-family: var(--fonte-principal);
}

header{
    background-color: #529DE4;
    height: 10vh;
}
main{
    background-color: #FFFAF0;
    height: 75vh;
}
nav{
    background-color: #FFFAF0;
    height: 5vh;
}
footer{
    background-color: #152330;
    height: 10vh;
}

header, 
main, 
footer,
nav,
div,
p{
    display: flex;
    flex: 1 1 100vw;
}

header #logo{
    display: flex;
    flex: 0 1 200px;
    justify-content: center;
    align-items: center;
}

.logo-container{
    display: flex;
    justify-content: start;
    align-items: center;
}

.menu-container{
    display: flex;
    justify-content: end;
    align-items: center;
}

.icon-menu{
    color: white;
    margin-right: 20px;
}

#logo{
    width: 10vh;
    height: 10vh;
    margin-left: 20px;
}

#openMenu,
#closeMenu{
    border: none;
    background: none;
    font-size: 30px;
    font-weight: bold;
    padding: 0 5px 0 5px;
    cursor: pointer;
    display: none;
}

nav{
    justify-content: center;
    align-items: center;
}

nav a{
    margin: 0 3%;
    font-size: 15pt;
}

a{
    text-decoration: none;
    color: inherit;
}

.cabecalho-header{
    justify-content: space-around;
}

.menus-container{
    display: flex;
    justify-content: center;
}
.boxes{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1px;
    justify-items: center;
}
.box{
    width: 35vw;
    height: 30vh;
    background-color: #1B558B;
    margin: 15px;
    border-radius: 15%;
}
@media only screen and (max-width: 717px){
    header{
        background-color: #529DE4;
        height: 15vh;
    }
    main{
        background-color: #FFFAF0;
        height: 75vh;
    }
    footer{
        background-color: #152330;
        height: 10vh;
    }
    #logo{
        width: 15vh;
        height: 15vh;
    }
    .icon-menu{
        height: 5vh;
        width: 5vw;
    }
    .box{
        width: 38vw;
        height: 23vh;
    }
    #openMenu, #closeMenu{
        display: block;
    }
    #openMenu{
        margin-left: auto;
    }
    #closeMenu{
        position: fixed;
        right: 15px;
        top: 15px;
    }
    nav{
        position: fixed;
        flex-direction: column;
        width: 100vw;
        height: 100vh;
        justify-content: center;
        align-items: center;
        margin: 0;
        display: none;
        opacity: 0;
        transition: 0.3s;
    }
    nav a{
        margin: 3%;
    }
}