body{
    margin: 0;
}

.background{
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
}

.color1{
    background-color: #529DE4;
    height: 20%;
}
.color2{
    background-color: #FFFAF0;
    height: 70%;
}
.color3{
    background-color: #152330;
    height: 10%;
}
.menu{
    display: flex;
    justify-content:space-between;
    padding: 15px 0 30px 0;
}
.logo,
.barra-lateral{
    display: flex;
    justify-content: center;
}
.logo{
    margin-left: 30px;
}
.logo img{
    width: 70px;
}
.barra-lateral{
    margin-right: 30px;
}
.barra-lateral img{
    width: 30px;
}
.box{
    background-color: #1B558B;
    box-sizing: border-box;
    justify-content: center;
    width: 26vh;
    height: 15vh;
    border-radius: 20px;
    position: relative;
    top: -50px;
}
.boxes{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    width: 50%;
    height: 60%;
}
.text{
    color: white;
    font-family: 'League Spartan';
    font-size: 3rem;
    box-sizing: border-box;
    justify-content: center;
    align-items: end;
}
.text p{
    align-items: end;
}
.align{
    display: flex;
    justify-content: space-around;
}