:root {
    --branco-fundo: #ece8e8cc;
    --fonte-principal: 'Poppins'; 
    --sombra: #0000002a;
    --tamanho-font: 15px;
    --tamanho-font-web: 3vh;
    --max-width-web: 70vw;
    --max-height-web: 90vh
}

body{
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    font-family: var(--fonte-principal);
    color: rgba(0, 0, 0, 0.751);
    font-size: var(--tamanho-font);
    background-image: url('../images/banners/laboratory-3827745.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#title h2{
    margin-top: 10px;
}

input{
    border: 0.5px solid black;
    padding: 5px;
    border-radius: 5px;
    width: 300px;
    height: 19px;
    font-family: var(--fonte-principal);
    font-size: 14px;
}

header{
    background-color: white;
    width: fit-content;
    height: fit-content;
    text-align: center;
    margin: 3em;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 1px var(--sombra);
}

.input_cadastro h4{
    text-align: left;
    padding: 2px;
    margin-bottom: 0; 
}

#mark_box{
    text-align: left;
    margin-top: 15px;
    margin-bottom: 0;
    display: flex;
    align-items: center;
}

#mark_box a {
    margin-left: 10px;
    margin-top: 7px;
}

#mark_box input{
    width: 13px;
    margin-bottom: 0;
}

#opc_login p {
    margin-top: 15px;
    margin-bottom: 0px;
}

#aceite{
    text-align: left;
    margin-top: 0;
}
#cadastro{
    text-align: center;
    display: flex;
}
#cadastro a{
    text-decoration: none;
    text-align: center;
    background-color: #3e7cf7;
    color: white;
    border-radius: 5px;
    padding: 8px;
    margin-top: 15px;
    width: 300px;
}

#cadastro a:hover{
    background-color: blue;
}

#cadastro a p{
    margin: 0;
}

.logo-container{
    display: none;
}

@media only screen and (min-width: 717px){
    header{
        display: flex;
        flex-direction: column;
        position: relative;
        top: 20px;
        margin: 0; 
        padding: 0;
        box-shadow: 10px 10px 10px var(--sombra);
        font-size: var(--tamanho-font-web);
    }
   
    #cadastro p{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #cadastro a, p{
        width: calc(0.4*var(--max-width-web));
        height: calc(0.06*var(--max-height-web));
        margin: 0;
    }

    .input_cadastro input{
        width: calc(0.42*var(--max-width-web));
        height: calc(0.03*var(--max-height-web))
    }

    .input_cadastro h4{
        font-size: calc(0.7*(var(--tamanho-font-web)));
        margin: 0;
    }

    #title h2{
        font-size: 5vh;
        margin: 0;
    }

    #mark_box input{
        width: calc(0.05*var(--max-width-web));
    }

    #mark_box,
    #mark_box a{
        width: calc(0.42*var(--max-width-web));
        height: calc(0.07*var(--max-height-web));
        font-size: calc(0.82*var(--tamanho-font-web));
        margin: 0;
        display: flex;
        align-items: center;
    }
    .logo-container{
        width: fit-content;
        height: fit-content;
        display: flex;
    }

    .dados{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:start;
    }

    #logo{
        width: calc(0.5*var(--max-width-web));
        height: var(--max-height-web);
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
    }

    #opc_login p{
        font-size: calc(0.65*var(--tamanho-font-web));
        margin: 0;
    }
}